@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

body{
    font-family:  "Mona Sans", serif;
    background-color: black;
    padding: 0;
    margin: 0;
    
}

::-webkit-scrollbar{
    width: 0px;
}